.current {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    border: 2px solid black;
    padding-inline-start: 0;
    padding: 0px 30px 30px 30px;
    background-image: linear-gradient(to bottom right, rgb(255, 244, 180), rgb(245, 210, 248));
    border-radius: 20px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.75);
}

li {
    text-align: center;
    margin-top: 5px;
}

.showHide {
    background-color: skyblue;
    color: black;
    height: 40px;
    width: 100px;
    border-radius: 6px;
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); */
    font-weight: bold;
    margin-top: 15px;
}

.showHide:active {
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.75);

}

.more-info {
    border: 0px;
    height: 0;
    opacity: 0;
    padding-top: 15px;
    padding-bottom: 0px;
    transition-property: height, opacity;
    transition-duration: 0.5s, 0.1s;
    transition-delay: 0s, 0s;
    transition-timing-function: ease;
}

.more-infoshow {
    padding-top: 15px;
    border: 0px;
    opacity: 1;
    height: 130px;
    transition-property: height, opacity;
    transition-duration: 0.5s, 0.2s;
    transition-delay: 0s, 0.3s;
    transition-timing-function: ease;

}

